


{% extends 'homepages.html' %}



{% block content %}

<h3>Password Reset </h3>

<br><br>

<h5> Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one. </h5>








<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
    <div class="card-body">
    <h4 class="card-title mb-4">Enter Your Email
  </h4>
  
  <br><br>

    <form method="POST">


        {% csrf_token %}


        <div class="form-group">
          
            {{form}}

            <br><br>
            <br><br>
          
            <input type="submit" class="btn btn-primary btn-block" style="background-color: aquamarine;"/>  




        </div> <!-- form-group// -->
        
    </form>
    </div> <!-- card-body.// -->
  </div> 
  
  <!-- card .// -->

  <br><br>
  <br><br>


{% endblock %}

